.homepageContainer {
  /* position: absolute; */
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.homepageWelcome {
  width: 100%;
  height: calc(100vh - var(--ifm-navbar-height));
  display: flex;
  flex-direction: column;
}

.homepageBigLogo {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -99;
  width: 50%;
}

.homepageNextPage {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepageFeatureContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
}

.homepageFeatureBackground {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  z-index: -99;
}
