.homepageContainer {
  /* position: absolute; */
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.homepageWelcome {
  width: 100%;
  height: calc(100vh - var(--ifm-navbar-height));
  display: flex;
  flex-direction: column;
}

.homepageBigLogo {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -99;
  width: 55%;
  min-width: 750px;
}

.homepageWelcomeContent {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: 60px;
}

.homepageWelcomeSocialButton {
  margin-top: 80px;
}

.homepageNextPage {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.homepageFeatureContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
}

.homepageFeatureBackground {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  z-index: -99;
}

.homepageFeatureTitle {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .homepageNextPage {
    display: none;
  }

  .homepageWelcome {
    height: 100%;
    margin-bottom: 300px;
  }

  .homepageFeatureContainer {
    height: 100%;
  }

  .homepageWelcomeContent {
    width: 100%;
    margin: 0;
  }

  .homepageWelcomeSocialButton {
    margin-top: 30px;
  }

  .homepageBigLogo {
    display: none;
  }
}

@media screen and (max-width: 996px) {
  .homepageFeatureTitle {
    font-size: 3rem;
  }
}
