/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroTitle {
  font-size: 5rem;
}

@media screen and (max-width: 966px) {
  .heroTitle {
    font-size: 3rem;
  }
}

@media screen and (max-width: 576px) {
  .heroTitle {
    font-size: 2rem;
  }
}

.heroTitle span {
  color: #fed482;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .heroBanner {
    padding: 0.5rem;
  }
}

.heroImage {
  margin: 1rem;
}

.heroImage img {
  width: 100%;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons div {
  padding-right: 10px;
}
