.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureElem {
  border: 1px dashed var(--ifm-color-primary);
  border-radius: 3px;
  margin-right: 1rem;
  margin-top: 1rem;
  position: relative;
}

.featureElem:hover {
  background-color: var(--ifm-color-primary);
  color: var(--ifm-color-black);
}

.featureElem a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.featureTitle {
  margin-top: 1rem;
}
