.button {
  font-size: 1.25rem;
  border-radius: 10px;
  border: 0;
  padding: 15px;
}

.IconLink {
  display: flex;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
